    
    <h1>redirect()</h1>
    <p class="parameters">
        <b>$url</b> <em>string</em><br />
        <b>$status</b> <em>int</em> = 302<br />
    </p>
    <p class="response">
        Returns a symfony respons object
    </p>

    <h2>Usage</h2>
    <pre>
&lt;?php

$response = $app-&gt;redirect('http://example.com');

return $response;

    </pre>